@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root{
  --allShadow: 0px 6px 15px 0px rgba(255, 255, 255, 0.57);
  --typeColor: rgb(255, 255, 59);
  --allShadowTwo: 0px 6px 15px 0px rgba(255, 255, 255, 0.57);
  --typeColorTwo: rgb(255, 255, 59);
  --lolTypeColor: rgb(41, 159, 255);
}

/*FROM GIT*/
*{
 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 200rem;
}

.main-container{
  height: 200rem;
}

body,
button{
  font-family: "Roboto", sans-serif;
}

.container{
  height: 200rem;
  width: 100%;
  
  background: rgb(68, 68, 68);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.indexlink{
  text-decoration: none;
  color: white;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
  border-bottom: white;
  padding-bottom: 4em;
  border-style: solid;
  border-width: 1px;
  background: rgb(37, 37, 37);
}


.menu{
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
  
.logo{
  font-size: 2.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}
  
.logo span {
  font-weight: 500;
}
  
.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
  
.bar{
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}
  
.bar:before,
.bar:after{
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}
  
.bar:before {
  transform: translateY(-9px);
}
  
.bar:after {
  transform: translateY(9px);
}
  
.main{
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}
  
header {
  min-height: 100rem;
  width: 100%;
  /*background: url("bg.jpg") no-repeat top center / cover;*/
  position: relative;
}
  
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.657);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.inner{
  text-align: center;
  color: white;
  padding: 2rem;
  max-height: 90%;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}

#description{
  margin: 20px;
  padding: 1rem;
  font-size: 1.5rem;
  padding-bottom: 5em;
}

.frontCards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100em;
}

.frontCards a{
  color: black;
  text-decoration: none;
}

.cardPoke{
  margin: auto;
  padding: 5em;
}

.cardLol{
  margin: auto;
  padding: 5em;
}

.cardDota{
  margin: auto;
  padding: 5em;
}

.pokemon-info{
  display: flex;
  justify-content: center;
  max-width: 80%;
  text-align: center;
  padding: 0 2rem;
}

  .title{
    font-size: 1.7rem;
  }
  .titleTwo{
    font-size: 1.7rem;
  }
  
.index-title {
  font-size: 2.7rem;
  margin-bottom: 50px;
  border-bottom-style: solid;
  border-color: red;
  padding: 20px;
}

.index-title span{
  font-weight: 600;
  color: red;
}

.pokemon-title{
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
  margin-bottom: 50px;
  border-bottom: 6px solid;
  border-image-source: linear-gradient(45deg,var(--typeColor), var(--typeColorTwo));
  border-image-slice: 1;
}

.graphSection{
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.VStitle{
  font-size: 3rem;
  font-style:normal;
}

.pokemon-graph{
  visibility: hidden;
  float: left;
}

.pokemon-graphTwo{
  visibility: hidden;
  float:right;
}

.pokemon-graph > .container{
  background-color: rgba(43, 51, 59, 0);
  width: 150%;
}

.pokemon-stats{
  display: flex;
  flex-direction:column;
  margin-right: 10rem;
  margin-bottom: 2rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  border-width: 3px;
  height: 22rem;
  width: 20rem;
  padding: 4%;
  border-radius: 10px;
  box-shadow: var(--allShadow);
  background-color: rgba(0, 0, 0, 0.349);
}

.pokemon-statsTwo{
  margin-left: 30rem;
  margin-bottom: 2rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  border-width: 3px;
  height: 22rem;
  width: 20rem;
  padding: 4%;
  border-radius: 10px;
  box-shadow: var(--allShadowTwo);
  background-color: rgba(0, 0, 0, 0.349);
}
  
.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover{
  opacity: 0.5;
}
  
.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}
  
.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}
  
.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}
  
.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}
  
@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}
  
.links {
  margin-top: 200px;
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
  
.links a {
  text-decoration: none;
  color: #eee;
  margin: 10px;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: rgb(184, 184, 184);
}
  
.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100rem;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}


.dropbtn { 
  background-color: var(--typeColor);
  box-shadow: var(--allShadow);
  margin-right: 1em;
  float: left;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  padding: 5px;
  font-size: 20px;
  font-weight: 1000;
  border: none;
  cursor: pointer;
  width: 15em;
  height: 5em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.561);
  border-radius: 10px;
  border-width: 2px; 
  border-radius: 10px;
}
  
.dropbtn:hover, .dropbtn:focus {
    opacity: 0.5;
}

.dropbtnTwo { 
  background-color: var(--typeColorTwo);
  box-shadow: var(--allShadowTwo);
  float: left;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  padding: 5px;
  font-size: 20px;
  font-weight: 1000;
  border: none;
  cursor: pointer;
  width: 15em;
  height: 5em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.561);
  border-radius: 10px;
  border-width: 2px; 
  border-radius: 10px;
}

.dropbtnTwo:hover, .dropbtnTwo:focus {
  opacity: 0.5;
}
  
.pokemon-dropdown{
  width: 38.8em;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}

.pokemon-dropdownTwo{
  width: 38.8em;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 200px;
}
  
.dropdown-content{
  display: none;
  list-style: none;
  position: absolute;
  background-color: rgba(29, 29, 29, 0.889);
  min-width: 500px;
  overflow: auto;
  box-shadow: var(--allShadow);
  z-index: 1;
  height: 500px;
  margin-left: -105px;
  border-radius: 5px;
}

.dropdown-contentTwo{
  display: none;
  list-style: none;
  position: absolute;
  background-color: rgba(29, 29, 29, 0.889);
  min-width: 500px;
  overflow: auto;
  box-shadow: var(--allShadowTwo);
  z-index: 1;
  height: 500px;
  margin-left: -105px;
  border-radius: 5px;
}
  
.dropdown-content a{
  color: white;
  padding: 7px 20px;
  text-decoration: none;
  display: block;
  float: left;
  width: 33.33%;
  padding: 10px;
}

.dropdown-contentTwo a{
  color: white;
  padding: 7px 20px;
  text-decoration: none;
  display: block;
  float: left;
  width: 33.33%;
  padding: 10px;
}
  
.pokemon-dropdown a:hover {background-color: rgba(43, 51, 59, 0.8)}
 
.pokemon-dropdownTwo a:hover {background-color: rgba(43, 51, 59, 0.8)}

.show {
  display: flex;
  flex-direction: row;
}
.showTwo {
  display: flex;
  flex-direction: row;
}

.chartContainer {
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: var(--allShadow);
  border-width: 3px;
  height: 25rem !important;
  width: 50rem !important;
}

.chartContainerTwo {
  float: right;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: var(--allShadowTwo);
  border-width: 3px;
  height: 25rem !important;
  width: 50rem !important;
}

.chartContainer > footer{
  margin-right: 300px;
  margin-top: 50px;
}

.chartContainer > footer > p{
  font-family: "Roboto";
  font-weight: 400;
  color: #eee;
}

.typeHolder {
 
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.typeHolderTwo {
 
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.type {
  width: 80px;
  /*padding: 7px;*/
  border: 1px solid white;
  border-radius: 5px;
  margin: 4px;
}






/*LEAUGE OF LEGENDS*/
.lol-title{
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
  margin-bottom: 50px;
  border-bottom: 6px solid;
  border-color: rgb(41, 159, 255);
  /*border-image-source: linear-gradient(45deg,var(--typeColor), var(--typeColorTwo));*/
  /*border-image-slice: 1;*/
}

.region-dropbtn { 
  background-color: rgb(41, 159, 255);
  box-shadow: rgb(41, 159, 255);
  float: left;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  font-size: 20px;
  font-weight: 1000;
  border: none;
  cursor: pointer;
  width: 14em;
  height: 3em;
  border-color: rgba(0, 0, 0, 0.561);
  border-radius: 5px;
  border-width: 2px; 
  border-radius: 5px;
  margin-right: 10px;
}

.region-dropbtn:hover, .lol-dropbtn:focus {
  opacity: 0.5;
}

#summonerid{
  height: 3em;
  width: 11em;
  border-radius: 5px;
  margin-right: 5px;
}

input[type="text"]{
  font-size: 20px;
}

#accept-info{
  height: 4.5em;
  width: 7em;
  background-color: rgb(41, 159, 255);
  border-color: rgba(0, 0, 0, 0.561);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  box-shadow: var(--allShadow);
  border: none;
}

#accept-info:hover, #accept-info:focus {
  opacity: 0.5;
}

.region-dropdown {
  position: relative;
  display: inline-block;
}

.region-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 280px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.region-dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.region-dropdown p:hover {background-color: #ddd;}

.show {display: block;}

#midPanel{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 100px;
}

#myProgress {
  width: 300px;
  background-color: var(--typeColorTwo);
}

#myBar {
  width: 50%;
  height: 30px;
  background-color: var(--typeColor);
}

