<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>GameCharter</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
          <div class="menu">
            <h3 class="logo"><a class="indexlink" href="/index.html">Game<span style="color: red;">Charter</span></a></h3>
            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </div>
  
        <div class="main-container">
          <div class="main">
            <header>
              <div class="overlay">
                <div class="inner">
                    <h2 class="index-title">API-<span>DOCUMENTATION</span></h2>
                    <p id="description">
                      For GameCharter's fighting functions have we created a backend for your usage. <br>
                      We created our API-Documentation with <a id="swaggerLink" href="https://swagger.io/tools/swaggerhub/">SwaggerHub</a>'s documentation tools. <br>
                      If you follow the link below, you will find the documentation provided by us GameCharter, to you.
                    </p>
                    
                    <div class="apidocBtn">
                        <a href="https://app.swaggerhub.com/apis/OlovBjorn/tester/1.0.0#/"><button>GameCharter API-DOC</button></a>
                    </div>
                    
                    
                </div>
              </div>
            </header>
          </div>
  
          <div class="shadow one"></div>
          <div class="shadow two"></div>
        </div>
  
        <div class="links">
          <ul>
            <li>
              <a href="../index.html" style="--i: 0.05s;">home</a>
            </li>
            <li>
              <a href="/templates/pokemon_mainpage.html" style="--i: 0.1s;">pokémon</a><img src="/static/pokelogo.png" alt="Avatar" style="width:5%; height:5%;">
            </li>
            <li>
              <a href="/templates/go.html" style="--i: 0.2s;">pokémon go</a><img src="/static/go-logo.png" alt="Avatar" style="width:5%; height:5%;">
            </li>
            <li>
              <a href="/templates/leagueoflegends.html" style="--i: 0.15s;">league of legends</a><img src="/static/league-logo.png" alt="Avatar" style="width:5%; height:5%;">
            </li>
            <li>
              <a href="/templates/apidoc.html" style="--i: 0.2s;">api-doc</a>
            </li>
            <li>
              <a href="about.html" style="--i: 0.25s;">About us</a>
            </li>
          </ul>
        </div>
      </div>
    <script src="/scripts/hamburgerscript.js"></script>
</body>
</html>

