<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/stylego.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>GameCharter</title>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="menu">
        <h3 class="logo"><a class="indexlink" href="../index.html">Game<span style="color: rgb(28, 109, 163);">Charter</span></a></h3>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="main">
        <header>
          <div class="overlay">
            <div class="inner">
              <img src="/static/go-logo.png" alt="Go" style="width:20%; height:20%;" id="banner">
              <h2 class="go-title">Pokémon GO</h2>

              <div class="pokemon-dropdown">
                <!-- PokemonSelectorTwo -->
                <button onclick="pokemonDropdown()" class="dropbtn">Choose Character</button>
                <div id="pokemon-content-list" class="dropdown-content">
                    <p id="pokemonList"></p>
                </div>

                <button onclick="pokemonDropdownTwo()" class="dropbtnTwo">Compare</button>
                <div id="pokemon-content-listTwo" class="dropdown-contentTwo">
                    <p id="pokemonListTwo"></p>
                </div>
              </div>

              <div class="graphSection">
                <section class="champion-graph">
                    <!-- PokemonStatsOne -->
                    <div class="pokemon-stats">
                      <h1 class="title" id="name"></h1>
                      <span id="image"></span>
                      <div class="typeHolder"></div>
                    </div>

                  <div class="chartContainer">
                      <!-- GraphOne -->
                      
                  </div>

                </section>

                <div id="midPanel">
                  <div class="fightStats">
                    <img src="/static/vslogo.png" style="width:20%; height:20%;">
                  </div>
                  
                  <div id="myProgress">
                    <div id="myBar">
                      <p id="resultOne"></p>
                      <p id="resultTwo"></p>
                    </div>

                  </div>
                </div>
                

                <section class="champion-graphTwo">
                  <!-- PokemonStatsTwo -->
                  <div class="pokemon-statsTwo">
                    <h1 class="titleTwo" id="nameTwo"></h1>

                    <span id="imageTwo"></span>
                    <div class="typeHolderTwo"></div>
                  </div>
              
                  <div class="chartContainerTwo">
                    <!-- GraphTwo -->
                    
                  </div>
                </section>
              </div>

            </div>
          </div>
        </header>
      </div>

      <div class="shadow one"></div>
      <div class="shadow two"></div>
    </div>

    <div class="links">
      <ul>
        <li>
          <a href="../index.html" style="--i: 0.05s;">home</a>
        </li>
        <li>
          <a href="/templates/pokemon_mainpage.html" style="--i: 0.1s;">pokémon</a><img src="/static/pokelogo.png" alt="Avatar" style="width:5%; height:5%;">
        </li>
        <li>
          <a href="/templates/go.html" style="--i: 0.2s;">pokémon go</a><img src="/static/go-logo.png" alt="Avatar" style="width:5%; height:5%;">
        </li>
        <li>
          <a href="/templates/leagueoflegends.html" style="--i: 0.15s;">league of legends</a><img src="/static/league-logo.png" alt="Avatar" style="width:5%; height:5%;">
        </li>
        <li>
          <a href="/templates/apidoc.html" style="--i: 0.2s;">api-doc</a>
        </li>
        <li>
          <a href="about.html" style="--i: 0.25s;">About us</a>
        </li>
      </ul>
    </div>
  </div>
</div>

    <!--<script src="../scripts/script.js"></script>-->
    <script src="../scripts/go.js"></script>
    <script src="../scripts/hamburgerscript.js"></script>
</body>
</html>