<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>GameCharter</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
          <div class="menu">
            <h3 class="logo"><a class="indexlink" href="/templates/pokemon_mainpage.html">Game<span style="color: yellow;">Charter</span></a></h3>
            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </div>
  
        <div class="main-container">
          <div class="main">
            <header>
              <div class="overlay">
                <div class="inner">
                  <img src="/static/pokelogo.png" alt="Pokéball" style="width:20%; height:20%;">
                  <h2 class="pokemon-title">pokemon database</h2>
                  <div class="pokemon-dropdown">
                    <!-- PokemonSelectorTwo -->
                    <button onclick="pokemonDropdown()" class="dropbtn">Choose Pokémon</button>
                    <div id="pokemon-content-list" class="dropdown-content">
                        <p id="pokemonList"></p>
                    </div>

                    <button onclick="pokemonDropdownTwo()" class="dropbtnTwo">Compare</button>
                    <div id="pokemon-content-listTwo" class="dropdown-contentTwo">
                        <p id="pokemonListTwo"></p>
                    </div>
                  </div>

                  <div class="graphSection">
                    <section class="pokemon-graph">
                        <!-- PokemonStatsOne -->
                        <div class="pokemon-stats">
                          <h1 class="title" id="name"></h1>
                          <span id="image">
                
                          </span>
                          <p id="type"></p>
                          <p id="type2"></p>
                          <p id="atack1"></p>
                          <p id="atack2"></p>
                          <p id="atack3"></p>
                          <p id="atack4"></p>
                        </div>

                      <div class="chartContainer">
                          <!-- GraphOne -->
                          
                      </div>

                    </section>

                    <div class="fightStats">
                      <h3 class="VStitle">VS</h3>
                    </div>
                    

                    <section class="pokemon-graphTwo">
                      <!-- PokemonStatsTwo -->
                      <div class="pokemon-statsTwo">
                        <h1 class="titleTwo" id="nameTwo"></h1>
                        <span id="imageTwo">
              
                        </span>
                        <p id="typeTwo"></p>
                        <p id="type2Two"></p>
                        <p id="atack1Two"></p>
                        <p id="atack2Two"></p>
                        <p id="atack3Two"></p>
                        <p id="atack4Two"></p>
                      </div>
                  
                      <div class="chartContainerTwo">
                        <!-- GraphTwo -->
                        
                      </div>

                    </section>
                  </div>

                </div>
              </div>
            </header>
          </div>
  
          <div class="shadow one"></div>
          <div class="shadow two"></div>
          
        </div>
  
        <div class="links">
          <ul>
            <li>
              <a href="../index.html" style="--i: 0.05s;">home</a>
            </li>
            <li>
              <a href="pokemon_mainpage.html" style="--i: 0.1s;">pokémon</a>
            </li>
            <li>
              <a href="leagueoflegends.html" style="--i: 0.15s;">leauge of legends</a>
            </li>
            <li>
              <a href="#" style="--i: 0.2s;">api-doc</a>
            </li>
            <li>
              <a href="#" style="--i: 0.25s;">About us</a>
            </li>
          </ul>
        </div>
      </div>

        

    </div>
    <script src="../scripts/script.js"></script>
    <script src="../scripts/hamburgerscript.js"></script>
</body>
</html>
