<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>GameCharter</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
          <div class="menu">
            <h3 class="logo"><a class="indexlink" href="/templates/index.html">Game<span style="color: red;">Charter</span></a></h3>
            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </div>
  
        <div class="main-container">
          <div class="main">
            <header>
              <div class="overlay">
                <div class="inner">
                  <h2 class="index-title">Welcome to Game<span>Charter</span></h2>
                  <p id="description">
                    We have collected your online game statistics and much more on this website.<br>
                    For statistics press the links below to find your ranks and favorite characters!  
                  </p>

                  <div class="frontCards">
                    <div class="cardPoke">
                      <img src="/static/pokelogo.png" alt="Avatar" style="width:50%; height:50%;">
                      <div class="card-container">
                        <h4 class="indexCard">Pokémon</h4> 
                        <button class="btn" style="background: rgb(255, 255, 50);"><a href="pokemon_mainpage.html">Click here for Pokémon statistics</a></button> 
                      </div>
                    </div>

                    <div class="cardLol">
                      <img src="/static/leaguelogo.png" alt="Avatar" style="width:50%; height:50%;">
                      <div class="card-container">
                        <h4 class="indexCard">League of Legends</h4> 
                        <button class="btn" style="background: rgb(41, 159, 255);"><a href="#">Click here for League of Legends statistics</a></button> 
                      </div>
                    </div>

                    <div class="cardDota">
                      <img src="/static/dotalogo.png" alt="Avatar" style="width:50%; height:50%;">
                      <div class="card-container">
                        <h4 class="indexCard">Dota 2</h4> 
                        <button class="btn" style="background: rgb(255, 48, 48);"><a href="#">Click here for Dota 2 statistics</a></button>
                      </div>
                    </div>
                  </div>

                  
                </div>
              </div>
            </header>
          </div>
  
          <div class="shadow one"></div>
          <div class="shadow two"></div>
        </div>
  
        <div class="links">
          <ul>
            <li>
              <a href="index.html" style="--i: 0.05s;">home</a>
            </li>
            <li>
              <a href="pokemon_mainpage.html" style="--i: 0.1s;">pokémon</a>
            </li>
            <li>
              <a href="#" style="--i: 0.15s;">leauge of legends</a>
            </li>
            <li>
              <a href="#" style="--i: 0.2s;">dota 2</a>
            </li>
            <li>
              <a href="#" style="--i: 0.25s;">About us</a>
            </li>
            <li>
              <a href="#" style="--i: 0.2s;">api-doc</a>
            </li>
          </ul>
        </div>
      </div>

    <script src="../scripts/hamburgerscript.js"></script>
</body>
</html>
