<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>GameCharter</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
          <div class="menu">
            <h3 class="logo"><a class="indexlink" href="/templates/index.html">Game<span style="color: rgb(0, 174, 255);">Charter</span></a></h3>
            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </div>
  
        <div class="main-container">
          <div class="main">
            <header>
              <div class="overlay">
                <div class="inner">
                  <h2 class="league-title">League of Legends</h2>
                  <img src="/static/leagueranks.jpg" alt="League ranks"">
                  
                  <section class="champions">
                    <div class="popularchamps">
                      <h3>Popular Champions</h3>
                      <img src="/static/jhin.jpg" alt="Jhin" style="width:20%; height:20%;">
                      <img src="/static/kai'sa.jpg" alt="Kai'Sa" style="width:35%; height:30%;">
                      <p>Jhin----------------------------------------Kai'Sa</p>
                
                    </div>

                    <div class="bestchamps">
                      <h3>Best Champions</h3>
                    </div>
                  </section>
                </div>
              </div>
            </header>
          </div>
  
          <div class="shadow one"></div>
          <div class="shadow two"></div>
        </div>
  
        <div class="links">
          <ul>
            <li>
              <a href="index.html" style="--i: 0.05s;">home</a>
            </li>
            <li>
              <a href="pokemon_mainpage.html" style="--i: 0.1s;">pokémon</a>
            </li>
            <li>
              <a href="#" style="--i: 0.15s;">leauge of legends</a>
            </li>
            <li>
              <a href="#" style="--i: 0.2s;">dota 2</a>
            </li>
            <li>
              <a href="#" style="--i: 0.25s;">About us</a>
            </li>
            <li>
              <a href="#" style="--i: 0.2s;">api-doc</a>
            </li>
          </ul>
        </div>
      </div>

    <script src="../scripts/script.js"></script>
    <script src="../scripts/hamburgerscript.js"></script>
</body>
</html>